<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <table>
        <caption>Статья</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Содержание</th>
            <th>Время публикации</th>
            <th>ID Автора</th>
            <th>Имя автора</th>
            <th>Рейтинг</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${newscard}">
            <td th:text="*{newscard.id}"></td>
            <td th:text="*{newscard.header}"></td>
            <td th:text="*{newscard.content}"></td>
            <td th:text="*{#temporals.format(newscard.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="*{newscard.author.id}"></td>
            <td><a th:text="*{newscard.author.fullName}"
                   th:href="@{/smarthome/authors/{id}(id=*{newscard.author.id})}"></a></td>
            <td>
                <div class="center-flex">
                    <form th:method="patch"
                          th:action="@{/smarthome/newscards/{id}/rating(id=*{newscard.id})}"
                          style="border: 0; margin: 0; padding: 1vh 1vw">
                        <input type="number" name="ratingDifference" value="1" class="hidden"/>
                        <input type="submit" value="+" class="card-button">
                    </form>
                    <span th:text="*{newscard.ratingPoints}"></span>
                    <form th:method="patch"
                          th:action="@{/smarthome/newscards/{id}/rating(id=*{newscard.id})}"
                          style="border: 0; margin: 0; padding: 1vh 1vw">
                        <input type="number" name="ratingDifference" value="-1" class="hidden"/>
                        <input type="submit" value="-" class="card-button">
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <form th:method="patch" th:action="@{/smarthome/newscards/{id}(id=*{id})}" th:object="${newscard}">
        Изменение новости
        <br>
        <p th:text="*{id}">
        </p>
        <div style="color:red" th:if="${#fields.hasErrors('header')}" th:errors="*{header}"></div>
        <label>
            Введите заголовок:
            <input type="text" th:field="*{header}" placeholder="Заголовок" required>
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        <label>
            Введите содержание:
            <input type="text" th:field="*{content}" placeholder="Содержание">
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></div>
        <label>
            Введите дату публикации:
            <input type="datetime-local" th:field="*{creationDate}" step="any" required>
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
        <label>
            Выберите автора:
            <select th:field="*{author.id}">
                <option th:each="author: ${authors}" th:value="*{author.id}"
                        th:text="*{author.fullName}"></option>
            </select>
        </label>
        <input type="submit" value="Изменить новость" class="card-button">
    </form>
    <form th:method="delete" th:action="@{/smarthome/newscards/{id}(id =*{newscard.id})}">
        <input type="submit" value="Удалить новость" class="card-button">
    </form>
</div>

<div th:replace="~{/smart_home/footer}"></div>