<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <table>
        <caption>Устройство умного дома</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Детали</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${device}">
            <td th:text="${device.id}"></td>
            <td th:text="${device.name}"></td>
            <td th:text="${device.details}"></td>
            <td th:text="${device.price}"></td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <form th:method="patch" th:action="@{/smarthome/devices/{id}(id =${device.getId()})}" th:object="${device}">
        Изменение товара
        <br>
        <p th:text="${device.id}">
        </p>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <label>
            Введите название:
            <input type="text" th:field="*{name}" placeholder="Название" required>
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('details')}" th:errors="*{details}"></div>
        <label>
            Введите описание:
            <input type="text" th:field="*{details}" placeholder="Описание">
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        <label>
            Введите цену:
            <input type="number" th:field="*{price}" placeholder="0.0" step="any" required>
        </label>
        <input type="submit" value="Изменить товар" class="card-button">
    </form>
    <form th:method="delete" th:action="@{/smarthome/devices/{id}(id =${device.getId()})}">
        <input type="submit" value="Удалить товар" class="card-button">
    </form>
    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>