<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <section>
        <h2>Наши товары</h2>
        <div class="card-container">
            <!--/*@thymesVar id="device" type="com.sportline.models.Device"*/-->
            <div class="card" th:each="device : ${devices.content}">
                <h3 th:text="${device.name}"></h3>
                <span th:text="${device.price}"></span>$
                <p th:text="${device.details}"></p>
                <a th:href="@{/smarthome/devices/{id}(id=*{device.getId()})}" class="card-button">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="card-page-nav">
        <a th:if="${devices.hasPrevious()}"
           th:href="@{/smarthome/devices(pageNum=${devices.number - 1})}"
           class="card-button">
            Назад
        </a>
        <a th:if="${devices.hasNext()}"
           th:href="@{/smarthome/devices(pageNum=${devices.number + 1})}"
           class="card-button">
            Вперед
        </a>
    </section>
</div>

<div th:replace="~{/smart_home/footer}"></div>