<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <section>
        <h2>Авторы блога</h2>
        <div class="card-container">
            <!--/*@thymesVar id="author" type="com.sportline.models.Author"*/-->
            <div class="card" th:each="author : ${authors.content}">
                <h3 th:text="*{author.fullName}"></h3>
                <a th:href="@{/smarthome/authors/{id}(id=*{author.id})}" class="card-button">Подробнее</a>
            </div>
        </div>
    </section>
    <section class="card-page-nav">
        <a th:if="${authors.hasPrevious()}"
           th:href="@{/smarthome/authors(pageNum=${authors.number - 1})}"
           class="card-button">
            Назад
        </a>
        <a th:if="${authors.hasNext()}"
           th:href="@{/smarthome/authors(pageNum=${authors.number + 1})}"
           class="card-button">
            Вперед
        </a>
    </section>
</div>

<div th:replace="~{/smart_home/footer}"></div>

