<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <main>
        <section>
            <h2>О нас</h2>
            <p>Мы - магазин умного дома, предлагающий самые современные и качественные устройства для умных домов. Наш
                цель - предоставить нашим клиентам уникальный опыт покупки умных устройств, которые упрощают и улучшают
                их жизнь.</p>
        </section>
        <section>
            <h2>Последние новости в нашем блоге</h2>
            <div class="card-container">
                <div class="card" th:each="newscard : ${newscards}">
                    <h3 th:text="${newscard.header}"></h3>
                    <p th:text="${newscard.content}" class="card-content"></p>
                    <p th:text="${#temporals.format(newscard.creationDate, 'dd/MM/yy HH:mm')}"></p>
                    <p th:text="${authorMap[newscard.getAuthor().getId()]}"></p>
                    <a th:href="@{/smarthome/newscards/{id}(id=${newscard.getId()})}" class="card-button">Подробнее</a>
                </div>
            </div>
        </section>
        <section>
            <h2>Последние товары в нашем магазине</h2>
            <div class="card-container">
                <div class="card" th:each="device : ${devices}">
                    <h3 th:text="${device.name}"></h3>
                    <span th:text="${device.price}"></span>$
                    <p th:text="${device.details}"></p>
                    <a th:href="@{/smarthome/devices/{id}(id=${device.getId()})}" class="card-button">Подробнее</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>