.card {
    border: 1px solid #2ECC71;
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh;
    width: 15vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 3;
}

.card-button {
    background-color: #2ECC71;
    color: #F5F5F5;
    padding: 1vh;
    border-radius: 1vh;
}