<div th:replace="~{/sportline/basic/header.html}"></div>

<div class="card-container">
    <div class="card">
        <span th:text="${esc}"></span>
        <br>
        <span th:text="${eet}"></span>
        <br>
        <span th:text="${em}"></span>
        <br>
        <span th:text="${ee}"></span>
        <br>
        <span th:text="${eru}"></span>
        <br>
        <span th:text="${esn}"></span>
        <br>
        <br>
        <br>
        <a th:href="@{/sportline}" class="card-button">
            Вернуться на главную
        </a>
    </div>
</div>

<div th:replace="~{/sportline/basic/footer.html}"></div>
