<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" xml:lang="en">
<head>
    <title>SportLine | СпортЛайн</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/dark-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/light-theme.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/tables.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/cards.css}" type="text/css">
    <link rel="icon" th:href="@{/img/sl-logo.png}" type="image/png" sizes="64x64">
</head>
<body>
<header>
    <div>
        <a th:href="@{/sportline}" class="light-rounded" style="padding-bottom: 0">
            <img th:src="@{/img/sl-logo-wide.png}" alt="Логотип" style="height: 6vh; padding-bottom: 0">
        </a>
        &nbsp;
        <a th:href="@{/sportline/products}" class="light-rounded">Товары</a>
        <a th:href="@{/sportline/blog}" class="light-rounded">Блог</a>
        <a th:href="@{/sportline/offers}" class="light-rounded">Предложения</a>
        <a th:href="@{/sportline/brands}" class="light-rounded">Бренды</a>
    </div>
</header>
<div class="container light-rounded">
    <!-- Начало основного содержания страницы сайта-->