<div th:replace="~{/sportline/basic/header.html}"></div>

<h2 class="light-rounded">Добро пожаловать в SportLine - Ваш магазин спортивных товаров!</h2>
<img th:src="@{/img/sl-logo-wide.png}" alt="Логотип" style="height: 40vh">
<p>
Добро пожаловать на сайт SportLine - вашего надежного партнера в мире спортивных товаров!
Мы рады приветствовать вас и предлагаем широкий ассортимент качественных товаров для всех видов спорта и активного образа жизни.
</p><p>
Наш магазин специализируется на предоставлении нашим клиентам только самых лучших товаров от ведущих мировых брендов.
Мы гордимся тем, что наша команда экспертов тщательно отбирает каждый товар, чтобы удовлетворить потребности и ожидания наших клиентов.
</p><p>
У нас вы найдете все необходимое для занятий спортом: от фитнес-оборудования и спортивной одежды до обуви и аксессуаров.
Мы предлагаем товары для разных уровней подготовки - от начинающих до профессионалов.
Наша цель - помочь вам достичь своих спортивных целей и наслаждаться активным образом жизни.
</p><p>
Мы постоянно обновляем наш ассортимент, чтобы предложить вам самые современные и инновационные товары на рынке.
Также мы регулярно проводим акции и предлагаем скидки на наши товары, чтобы сделать покупки еще более выгодными для наших клиентов.
</p><p>
Мы ценим каждого нашего клиента и стремимся предоставить вам лучший сервис.
Наши консультанты всегда готовы помочь вам с выбором товара, ответить на ваши вопросы и предоставить всю необходимую информацию.
</p><p>
Благодарим вас за то, что выбрали SportLine!
Мы надеемся, что наш магазин станет вашим надежным партнером в мире спортивных товаров и поможет вам достичь новых высот в спорте и активном образе жизни.
</p>
<div th:replace="~{/sportline/basic/footer.html}"></div>
