<div th:replace="~{/sportline/basic/header.html}"></div>

<h2 class="light-rounded">Добро пожаловать в SportLine - ваш надежный и стильный магазин спортивных товаров!</h2>
<p>Мы создали SportLine с целью вдохновить и поддержать вас в достижении ваших физических целей и ведении активного образа жизни.</p>

<p>Мы гордимся нашим широким ассортиментом высококачественных спортивных товаров от ведущих брендов, таких как Nike, Adidas, Under Armour, Trek и многих других.</p>
<p>У нас вы найдете все, что вам нужно для занятий спортом: от беговых кроссовок и тренажеров до спортивной одежды, аксессуаров и электроники.</p>

<p>Наша команда профессионалов всегда готова помочь вам с выбором и предоставить вам всю необходимую информацию о продуктах.</p>
<p>Мы ценим каждого клиента и стремимся создать для вас удобную и приятную среду для покупок.</p>

<div th:replace="~{/sportline/basic/footer.html}"></div>
