<div th:replace="~{/sportline/basic/header.html}"></div>

<form name="f" method="post" action="/sportline/process_login">
    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password"/>
    <br>
    <input type="submit" value="Войти" class="card-button">
    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
</form>

<p>Не зарегистрированы?</p>
<a th:href="@{/sportline/registration}" class="card-button">Зарегистрироваться</a>

<p>Хотите войти в другой аккаунт?</p>
<a th:href="@{/sportline/logout}" class="card-button">Выйти из аккаунта</a>


<div th:replace="~{/sportline/basic/footer.html}"></div>
