<div th:replace="~{/sportline/basic/header.html}"></div>

<form th:method="POST" th:action="@{/sportline/process_login}">
<!-- В форме генерируется <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    <label for="username">Введите имя пользователя: </label>
    <input type="text" name="username" id="username"/>
    <label for="password">Введите пароль: </label>
    <input type="password" name="password" id="password"/>
    <br>
    <input type="submit" value="Войти" class="card-button">
    <div th:if="${param.error}" style="color: red">
        Неправильные имя или пароль
    </div>
</form>

<form th:method="POST" th:action="@{/sportline/logout}">
    <p>Хотите выйти из текущего аккаунта?</p>
    <input type="submit" class="card-button" value="Выйти из аккаунта">
</form>

<p>Не зарегистрированы?</p>
<a th:href="@{/sportline/registration}" class="card-button">Зарегистрироваться</a>

<div th:replace="~{/sportline/basic/footer.html}"></div>
