.card {
    border: 1px solid var(--accent-color);
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh;
    width: 20vw;
}

.card img {
    height: 24vh;
    border-radius: 1vh;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-button {
    background-color: var(--secondary-color);
    color: var(--m-light-color);
    padding: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2vh;
    border: 0;
    border-radius: 1vh;
    cursor: pointer;
}

.card-button:hover {
    color: var(--light-color);
    background-color: var(--accent-color);
    text-decoration: none;
}

.card-page-nav {
    padding: 2vh;
    margin: 1vh;
    text-align: center;
}

.card-page-nav a {
    margin: 2vh;
}