.card {
    border: 1px solid var(--accent-color);
    border-radius: 1vh;
    padding: 2vh;
    margin: 1vh;
    width: 15vw;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.card-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-clamp: 3;
}

.card-button {
    background-color: var(--accent-color);
    color: var(--m-light-color);
    padding: 1vh;
    border: 0;
    border-radius: 1vh;
    cursor: pointer;
}

.card-page-nav {
    padding: 2vh;
    margin: 1vh;
    border: 1px solid var(--accent-color);
    border-radius: 1vh;
    text-align: center;
}

.card-page-nav a {
    margin: 2vh;
}