@media (prefers-color-scheme: dark) {
    body {
        font-family: 'Century Gothic', sans-serif;
        color: var(--m-light-color);
        font-size: 2vh;
        background-color: var(--dark-color);
    }

    textarea,
    input[type=text],
    input[type=number],
    input[type=datetime-local],
    input[type=date],
    option,
    select {
        font-family: 'Consolas L', sans-serif;
        font-size: 2vh;
        width: 25vw;
        border: 1px solid var(--accent-color);
        border-radius: 1vh;
    }

    header a {
        padding: 0 5vw;
        font-size: 4vh;
    }

    header {
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 999;
        border: 1px solid var(--m-dark-border);
    }

    .container {
        width: 50vw;
        margin: 6vh auto 1vh auto;
        padding: 2vw;
        border-radius: 1vh;
    }

    .light-rounded {
        text-transform: uppercase;
        font-weight: bolder;
        border: 1px solid var(--m-dark-border);
        background-color: var(--m-dark-color);
        border-radius: 1vh;
    }

    footer {
        border: 1px solid var(--m-dark-border);
        background-color: var(--m-dark-color);
        text-align: center;
    }

    a {
        color: var(--accent-color);
        text-decoration: none;
    }

    a:hover {
        color: var(--light-color);
        background-color: var(--accent-color);
        text-decoration: none;
    }

    a:active {
        color: var(--secondary-color);
        background-color: var(--dark-color);
        text-decoration: none;
    }
}