@media (prefers-color-scheme: light) {
    body {
        font-family: 'Consolas L', sans-serif;
        color: #303F30;
        font-size: 2vh;
        background-color: #EEEDEE;
    }

    .container, footer {
        width: 50vw;
        margin: 0 auto;
        padding: 2vw;
        background-color: #DDDFDD;
    }

    footer {
        margin-top: 1vh;
        text-align: center;
    }

    a {
        color: #2ECC71;
        text-decoration: none;
    }

    a:hover {
        color: #FFF;
        background-color: #2ECC71;
        text-decoration: none;
    }

    a:active {
        color: #2ECC71;
        background-color: #F5F5F5;
        text-decoration: none;
    }

    header a {
        padding: 0 5vw;
        font-size: 4vh;
        background-color: #DDDFDD;
    }
}