:root {
    --accent-color: #324bff;
    --secondary-color: #ff4b32;
    --m-light-color: #F5F5F5;
    --light-color: #FFFFFF;
    --dark-color: #000000;
    --m-dark-color: #202020;
}

header {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 2vh;
    /*border-bottom: 1px solid var(--secondary-color);*/
}

h1 {
    border: 1px solid var(--dark-color);
    border-radius: 1vh;
    text-align: center;
    font-size: 4vh;
}

header img {
    height: 4vh;
}

label {
    display: block;
    margin-bottom: 2vh;
}

form {
    border: 1px solid var(--accent-color);
    border-radius: 1vh;
    padding: 3vh 3vw;
}

.hidden {
    display: none;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


