header {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding-bottom: 2vh;
    border-bottom: 1px solid #2ECC71;
}

h1 {
    font-size: 4vh;
}

header img {
    height: 6vh;
}

label {
    display: block;
    margin-bottom: 2vh;
}

form {
    border: 1px solid #2ECC71;
    border-radius: 1vh;
    padding: 3vh 3vw;
}

.hidden {
    display: none;
}


