<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <table>
        <caption>Статья</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Заголовок</th>
            <th>Содержание</th>
            <th>Время публикации</th>
            <th>ID Автора</th>
            <th>Имя автора</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${newscard}">
            <td th:text="${newscard.id}"></td>
            <td th:text="${newscard.header}"></td>
            <td th:text="${newscard.content}"></td>
            <td th:text="${#temporals.format(newscard.creationDate, 'dd/MM/yyyy HH:mm:ss')}"></td>
            <td th:text="${newscard.getAuthorId()}"></td>
            <td><a th:text="${authorObj.getFullName()}"
                   th:href="@{/smarthome/authors/{id}(id=${authorObj.getId()})}"></a></td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <form th:method="patch" th:action="@{/smarthome/newscards/{id}(id =${newscard.getId()})}" th:object="${newscard}">
        Изменение новости
        <br>
        <p th:text="${newscard.id}">
        </p>
        <div style="color:red" th:if="${#fields.hasErrors('header')}" th:errors="*{header}"></div>
        <label>
            Введите заголовок:
            <input type="text" th:field="*{header}" placeholder="Заголовок" required>
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>
        <label>
            Введите содержание:
            <input type="text" th:field="*{content}" placeholder="Содержание">
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('creationDate')}" th:errors="*{creationDate}"></div>
        <label>
            Введите дату публикации:
            <input type="datetime-local" th:field="*{creationDate}" step="any" required>
        </label>
        <div style="color:red" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}"></div>
        <label>
            Выберите автора:
            <select th:field="*{authorId}">
                <option th:each="author: ${authors}" th:value="${author.getId()}"
                        th:text="${author.getFullName()}"></option>
            </select>
        </label>
        <input type="submit" value="Изменить новость" class="card-button">
    </form>
    <form th:method="delete" th:action="@{/smarthome/newscards/{id}(id =${newscard.getId()})}">
        <input type="submit" value="Удалить новость" class="card-button">
    </form>
    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>