<div th:replace="~{/smart_home/header.html}"></div>

<div class="container">
    <section>
        <h2>Новости блога</h2>
        <div class="card-container">
            <div class="card" th:each="newscard : ${newscards}">
                <h3 th:text="${newscard.header}"></h3>
                <p th:text="${newscard.content}"></p>
                <p th:text="${#temporals.format(newscard.creationDate, 'dd/MM/yy HH:mm')}"></p>
                <p th:text="${authorMap[newscard.authorId]}"></p>
                <a th:href="@{/smarthome/newscards/{id}(id=${newscard.getId()})}" class="card-button">Подробнее</a>
            </div>
        </div>
    </section>
    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>