<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru" xml:lang="en">
<head>
    <title>СмартДом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/tables.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/resources/css/cards.css}" type="text/css">

</head>
<body>
<div th:replace="~{/smart_home/header.html}">
</div>
<div class="container">
    <section>
        <h2>Наши товары</h2>
        <div class="card-container">
            <div class="card" th:each="device : ${devices}">
                <h3 th:text="${device.name}"></h3>
                <span th:text="${device.price}"></span>$
                <p th:text="${device.details}"></p>
                <a th:href="@{/smarthome/devices/{id}(id=${device.getId()})}" class="card-button">Подробнее</a>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>