<div th:replace="~{/smart_home/header.html}"></div>
<div class="container">
    <main>
        <form th:method="post" th:action="@{/smarthome/admin/manage/device}" th:object="${device}">
            <h1 style="text-align: center">Добавление товара</h1>
            <label>
                Введите название:
                <input type="text" th:field="*{name}" placeholder="Название" required>
            </label>
            <label>
                Введите описание:
                <input type="text" th:field="*{details}" placeholder="Описание">
            </label>
            <label>
                Введите цену:
                <input type="number" th:field="*{price}" placeholder="0.0" step="any" required>
            </label>
            <input type="submit" value="Добавить товар" class="card-button">
        </form>
    </main>
    <footer>
        <p>&copy; СмартДом, 2024</p>
    </footer>
</div>
</body>
</html>