<div th:replace="~{/sportline/basic/header.html}"></div>

<section>
    <form
            th:if="${userDetailsWrapper!=null && userDetailsWrapper.user.hasRoleAdmin()}"
            th:method="post"
            th:action="@{/sportline/offers}"
            th:object="${offer}"
    >
        <h1>Добавить специальное предложение</h1>

        <label for="name">Название:</label>
        <input type="text" id="name" th:field="*{name}" required>

        <label for="description">Описание:</label>
        <textarea id="description" th:field="*{description}" rows="5" required></textarea>

        <label for="startDate">Дата начала действия:</label>
        <input type="date" id="startDate" th:field="*{startDate}" required>

        <label for="endDate">Дата окончания действия:</label>
        <input type="date" id="endDate" th:field="*{endDate}" required>

        <br>

        <input type="submit"
               class="card-button"
               value="Добавить"/>
    </form>
    <br>
</section>

<section>
    <h1 class="light-rounded">Спецпредложения в SportLine</h1>
    <div class="card-container">
        <div class="card" th:each="offerItem : ${offersList}">
            <h3 th:text="${offerItem.name}"></h3>
            <p th:text="'C '+ ${#temporals.format(offerItem.startDate, 'dd/MM/yyyy')}"></p>
            <p th:text="'По '+ ${#temporals.format(offerItem.endDate, 'dd/MM/yyyy')}"></p>
            <a th:href="@{/sportline/offers/{id}(id=*{offerItem.id})}" class="card-button">Перейти</a>
        </div>
    </div>
    <div class="card-page-nav light-rounded">
        <a th:if="${offersPage.hasPrevious()}"
           th:href="@{/sportline/offers(pageNum=${offersPage.number - 1})}"
           class="card-button">
            < Предыдущая страница
        </a>
        <a th:if="${offersPage.hasNext()}"
           th:href="@{/sportline/offers(pageNum=${offersPage.number + 1})}"
           class="card-button">
            Следующая страница >
        </a>
    </div>
</section>

<div th:replace="~{/sportline/basic/footer.html}"></div>
